/* Family: [Outfit](https://fonts.google.com/specimen/Outfit)
Weights: 400, 700 */

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --outfit:'Outfit';
}

body {
    font-size: 15px;
    font-family: var(--outfit);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-QR {
    width: 100vw;
    height: 100vh;
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-card{
    flex-basis: 290px;
    padding: 1em;
    border-radius: 0.8em;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Card_Img{
    width: 290px;
    border-radius: 0.8em;
}

.card_title{
    font-weight: 700;
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.card_description{
    font-weight: 400;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    color: var(--dark-blue);
}